/* Home.css */

.full-screen {
    position: absolute;
    /* 절대 위치 */
    top: 0;
    /* 상단 고정 */
    left: 0;
    /* 왼쪽 고정 */
    width: 100vw;
    /* 전체 너비 */
    height: 100vh;
    /* 전체 높이 */
    z-index: -1;
    /* 배경으로 설정 */
}

.content {
    position: relative;
    /* 상대 위치 */
    z-index: 1;
    /* 전면에 표시 */
}