.wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.background {
    position: relative;
    background-image: url('/images/anlysistant.png');
    height: 444px;
    background-size: cover;
}

.logo {
    position: absolute;
    top: 22px;
    left: 26px;
}

.text_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 300px;
    left: 18px;
}

.text1 {
    color: #FFF;
    font-family: "Pretendard Variable";
    font-size: 17px;
    font-weight: 600;
}

.text2 {
    color: #FFF;
    font-family: "Pretendard Variable";
    font-size: 34px;
    font-weight: 600;
}

.card {
    background-color: white;
    width: 100%;
    max-width: 800px;
    height: 100vh;
    position: absolute;
    top: 390px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 28px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.4s ease;
    cursor: pointer;
}

.expanded {
    top: 0;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    overflow-y: auto;
}

.cardContent {
    display: flex;
    gap: 50px;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.toggler {
    text-align: center;
    margin-top: 10px;
}

.profile {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.profileTextContainer {
    display: flex;
    align-items: center;
}

.profileText {
    font-size: 14px;
    font-family: "Pretendard Variable";
    font-weight: normal;
}

.result_text {
    margin-top: 10px;
    margin-bottom: 50px;
    color: rgb(63, 63, 63);
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.graph_stick1_container {
    width: 253px;
    height: auto;
    overflow: visible !important;
      
}

.jungbobogi0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 20px;
    width: auto;
    height: auto;
    background-color: #ffffff60;
    padding: 0 17px;
    animation: appear 1.5s ease-out, appear_from_bottom 1s ease-out;
    z-index: 2;
}

.jungbobogi1 {
    border-radius: 20px;
    width: 376px;
    height: auto;
    background-color: #ffffff60;
    padding: 0 17px;
    margin-top: 80px;
    animation: appear 1.5s ease-out, appear_from_bottom 1s ease-out;
    z-index: 2;
}

.jungbobogi2 {
    padding: 20px;
    border-radius: 20px;
    width: 376px;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: appear 1.5s ease-out, appear_from_bottom 1s ease-out;
    z-index: 2; 
}


.recharts-surface {
  overflow: visible !important; /* 바 그래프가 감싸고 있는 클래스 밖으로 그려질수 있도록 */
}


.activityText1 {
    font-family: "Pretendard Variable";
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(34, 101, 194);
}

.activityText2 {
    font-family: "Pretendard Variable";
    font-weight: 500;
    margin-top: 16px;
    margin-left: 19px;
    text-align: center;
    color: rgb(78, 78, 78);
}

.circleResult {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

.circles {
    background-color: rgb(49, 130, 246);
    border: none solid 1px;
    border-radius: 50px;
    box-shadow: 0px 8px 10px 2px rgba(0,0,0,0.39);
    height: 78px;
    width: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circles p {
    color: #F5F5F5;
    font-family: "Pretendard Variable";
    font-size: large;
    font-weight: 500;
    
}

.backIcon {
    margin-top: 18px;
    margin-left: 18px;
}

.bell_Text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pieChart {
    margin-top: 30px;
    width: 100%;
    height: 400px;
}

.minitext1 {
    align-items: center;
    align-content: center;
    margin-top: 20px;
    text-align: center;
    font-family: "Pretendard Variable";
    font-weight: 600px;
    font-size: 24px;
}

.minitext2 {
    text-align: center;
    font-family: "Pretendard Variable";
    font-weight: 500;
}

.ageBox{
    padding: 20px;
    background: #F5F5F5;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.genderBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    width: 100%; 
    background-color: #F5F5F5;
    border-radius: 12px; 
}

.recharts-default-legend {
    padding-left: 30px !important;
}

.nextIconContainer {
    display: flex;
    flex-direction: row;
    z-index: 1px;
    position: absolute;
    gap: 290px;
    margin-left: -25px;
}

.jungbobogi3 {
    padding: 20px;
    margin-top: 40px;
    border-radius: 20px;
    width: 376px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0px 8px 10px 2px rgba(0,0,0,0.39);
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: appear 1.5s ease-out, appear_from_bottom 1s ease-out;
}

.competitorBox {
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 12px;
}

.lineChartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 363px;
    height: auto;
    background-color: aliceblue;
    border-radius: 13px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow:  10px 10px 20px -11px rgba(174, 174, 192, 0.7);
    animation: appear 1.5s ease-out, appear_from_bottom 1s ease-out;

}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 363px;
    height: auto;
    background-color: white;
    border-radius: 13px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    box-shadow:  10px 10px 20px -11px rgba(174, 174, 192, 0.7);
    animation: appear 1.5s ease-out, appear_from_bottom 1s ease-out;

}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 363px;
    height: auto;
    background-color: aliceblue;
    border-radius: 13px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    box-shadow:  10px 10px 20px -11px rgba(174, 174, 192, 0.7);
    animation: appear 1.5s ease-out, appear_from_bottom 1s ease-out;

}

.box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 363px;
    height: auto;
    background-color: white;
    border-radius: 13px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow:  10px 10px 20px -11px rgba(174, 174, 192, 0.7);
    animation: appear 1.5s ease-out, appear_from_bottom 1s ease-out;
}
  
.title {
    font-weight: 500;
    font-size: 20px;
    text-align: center; 
    margin-bottom: 50px;
}

.text4 {
    display: flex;
    flex-direction: row;
    gap: 7px;
    font-size: 35px;
    font-family: "Pretendard Variable";
    font-weight: 400;
    color: #FF6161;
} 

.text5 {
    display: flex;
    flex-direction: row;
    gap: 7px;
    font-size: 35px;
    font-family: "Pretendard Variable";
    font-weight: 400;
    color: #6196ff;
} 

.section {
    background-color: #d9d7d7;
    padding: 30px;
}



@keyframes appear{
    from {
      opacity: 0;
    }
  
    to{
      opacity: 1;
    }
  }
  
  @keyframes appear_from_bottom{
    0%{
      transform: translateY(150px);
      opacity: 0;
    }
  
    100%{
      opacity: 1;
    }
  }
