/* App.css */
@font-face {
    font-family: 'PretendardVariable';
    src: url('/src/Assets/Fonts/PretendardVariable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'PretendardVariable', sans-serif; /* 모든 요소에 폰트 적용 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PretendardVariable', sans-serif; /* 페이지 전체에 폰트 적용 */
}


* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/src/Assets/Image/in-financial-district-toronto-canada-3840x2160_57565-mm-90.jpg');
    background-size: cover;
    background-position: center;
    animation: moveBackground 40s infinite alternate;
}

@keyframes moveBackground {
    0% {
        background-position: center;
        /* 시작 위치 */
    }

    50% {
        background-position: 10% center;
        /* 중간 위치 (왼쪽으로 이동) */
    }

    100% {
        background-position: center;
        /* 끝 위치 (원래 위치로 돌아옴) */
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p_style {
    font-family: 'PretendardVariable', sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.788);
}

.button_style {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.button_container {
    background-color: #3182f6;
    border: none;
    border-radius: 20px;
    padding: 23px 26px;
}

.button_container:hover {
    cursor: pointer;
    background-color: #3183f6ce;
}

.button_text {
    color: white;
    font-family: 'PretendardVariable', sans-serif;
    font-size: 20px;
    font-weight: 620;
}