.div_top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 다른 요소 위에 표시되도록 z-index를 높게 설정 */
    background-color: #fff; /* 배경색을 지정해서 콘텐츠와 구분되도록 설정 */
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3); /* 그림자 추가 */
    display: flex;
    flex-direction: column;
}

.search_container {
    display: flex;
    justify-content: center;
    padding: 0 17px 13px;
}

.search_div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    gap: 12px;
    width: 100%;
    border-radius: 8px;
    background-color: #f9fafb;
}

.search_box {
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #f9fafb;
    font-family: 'PretendardVariable', sans-serif;
    font-size: 16px;
    color: rgb(77, 77, 77);
}

.search_box:focus {
    outline: none;
    font-size: 16px;
}

.img_container {
    display: flex;
    padding: 10px 17px;
}

.img_style:hover {
    opacity: 0.6;
}

a {
    text-decoration: none;
    color: rgb(50, 50, 50);
}

a:hover {
    cursor: pointer;
}

.ul_container {
    display: flex;
    justify-content: center;
    margin: 12px 17px;
    list-style: none;
    font-family: 'PretendardVariable', sans-serif;
    font-size: 19px;
    font-weight: 450;
}

.active {
    background-color: #3182f6;
    /* 활성화된 링크 배경색 */
    border-radius: 8px 8px 0 0;
    /* 테두리 반경 설정 */
    padding: 12px 14px;
    /* 패딩 조정으로 전체 박스 크기 설정 */
    transition: background-color 0.3s ease;
    /* 부드러운 전환 효과 */
    color: white;
    /* 텍스트 색상 */
}

@media (max-width: 768px) {
    .ul_container {
        gap: 40px;
    }
}

@media (max-width: 429px) {
    .ul_container {
        gap: 35px;
    }
}

@media (max-width: 413px) {
    .ul_container {
        gap: 20px;
    }
}

@media (min-width: 769px) {
    .ul_container {
        gap: 120px;
    }
}